#investor-content {
    margin-top: 43px;
    margin-bottom: 25px;
}

#investor-content img {
    display: block;
}

@media screen and (max-width: 767px) {
    #investor-content {
        margin: 20px 10px;
    }
}


@media screen and (min-width: 768px) {
    #investor-content {
        margin: 40px auto;
        max-width: 782px;
    }
}

.nda-text-box {
    max-height:400px;
    overflow:auto;
    margin-left: 2%;
    margin-right: 2%;
}

.form-text {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #382c19;
}

.chckbx {
    object-fit: contain;
    font-family: 'FontAwesome';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #382c19;
}

.nda-date-box {
    margin-bottom: 20px;
}

.chckbx-txt {
    padding-left: 5px;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #382c19;
}
.error {
    color: red;
    padding-top: 14px;
    font-size: 14px;
    font-family: 'Alegreya Sans', sans-serif;
}


.date-title {
    padding-left: 5px;
    margin-left: 70px;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #382c19;
}

.date {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #382c19;
}

input[type="checkbox"]{
  width: 20px; 
  height: 15px; 
  cursor: pointer;
}

.download-box {
    margin-top: 20px;
    padding: 0px 20px 12px;
    background-color: #F9F6F2;
}

.nda-title {
    padding-top: 12px;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #382c19;
}

.btn-download {
    border-radius: 2px;
    background-color: #382c19;
    color: #fffdf9;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #fffdf9 !important;
}

.btn-submit {
    width: 190px;
    height: 40px;
    background-color: #382c19;
    border: solid 1px #fffdf9;
    border-radius: 2px;
    font-size: 14px;
    font-family: 'Alegreya Sans', sans-serif;
    color: #fffdf9;;
}

.btn-cancel {
    width: 120px;
    height: 40px;
    background-color: #fffdf9;
    border: solid 1px #382c19;
    border-radius: 2px;
    font-size: 14px;
    font-family: 'Alegreya Sans', sans-serif;
    color: #382c19;
}

.btn-row {
    margin-top: 15px;
}