#investor-content {
    margin-top: 43px;
    margin-bottom: 25px;
}

#investor-content img {
    display: block;
}

@media screen and (max-width: 767px) {
    #investor-content {
        margin: 20px 10px;
    }
}


@media screen and (min-width: 768px) {
    #investor-content {
        margin: 40px 10%;
    }
}

.about-box {
}

.download-box {
    margin-top: 20px;
    padding: 0px 20px 12px;
    background-color: #F9F6F2;
}

.nda-title {
    padding-top: 12px;
    font-family: AlegreyaSans;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #382c19;
}

.btn-download {
    border-radius: 2px;
    background-color: #382c19;
    color: #fffdf9;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #fffdf9 !important;
}