<div class="row" id="investor-content">
    <div class="col-xs-12 col-sm-8">
        <img src="assets/images/hero.png">
        <div class="about-box">
            <h3>About Il Coniglio</h3>
            <p>We are very excited to bring Il Coniglio to you. Here, you’ll be immersed in a French/Italian amalgam, echoing
                old world comfort while advancing gastronomic technique and embracing monumental hybrid design. Matchlessly
                blurring the lines between kitchen and dining room, this interactive yet distinguished approach will uniquely
                fulfill your desire to be a part of the culinary experience while still feeling like an honored guest. Il
                Coniglio will showcase Chef Dirk’s state of the art cuisine in a shared environment, creating an untapped
                culture for casual fine dining.
            </p>

        </div>
        <div class="download-box">
            <p class="nda-title">Investor Information</p>
        </div>
    </div>
</div>