body {
    margin-bottom: 50px;
}

.header {
  width: 100%;
  min-height: 70px;
  background-color: #382c19;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #382c19;
    margin-bottom: 0px;
    bottom: 0px;
}

.footer-text {
    /*width: 689px;*/
    height: 24px;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #fffdf9;
    margin: 0 auto;
    padding-top: 35px;
}

.footer-text a {
    text-decoration: none;
    color: inherit;
}

.header-title {
  padding: 15px;
  width: 100%;
}

.header-title img {
    width: 167px;
}